/catastro2021_ALVARO_OBREGON.csv
/catastro2021_AZCAPOTZALCO.csv
/catastro2021_BENITO_JUAREZ.csv
/catastro2021_COYOACAN.csv
/catastro2021_CUAJIMALPA.csv
/catastro2021_CUAUHTEMOC.csv
/catastro2021_GUSTAVO_A_MADERO.csv
/catastro2021_IZTACALCO.csv
/catastro2021_IZTAPALAPA.csv
/catastro2021_MAGDALENA_CONTRERAS.csv
/catastro2021_MIGUEL_HIDALGO.csv
/catastro2021_MILPA_ALTA.csv
/catastro2021_TLAHUAC.csv
/catastro2021_TLALPAN.csv
/catastro2021_VENUSTIANO_CARRANZA.csv
/catastro2021_XOCHIMILCO.csv
